/* 1. Сначала РЕГИСТРИРУЕМ шрифт (всегда в самом верху файла) */
@font-face {
  font-family: 'BirthdayFont';
  src: url('../fonts/font.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* 2. Общие сбросы */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 3. ПРИМЕНЯЕМ шрифт к body */
body {
  font-family: 'BirthdayFont', sans-serif;
  /* sans-serif добавим как запасной */
  background: #08284c;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}